.admin-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url(/public/assets/img/back.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: calc(100vh - 100px - 320px);
    /* 100vh - navbar - footer */
    margin-top: 100px;
}

.admin-container .card {
    background: transparent;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.admin-container .card-body {
    padding: 60px 20px !important;
    margin-inline: 10px;
}

.admin-profile-setting .card-body {
    padding: 60px 100px !important;
}

.admin-container input {
    background-color: transparent;
}

.admin-home {
    padding-top: 10px;
}

.admin-home .nav-pills .nav-link {
    color: var(--primary);
}

.admin-home .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    /* border: 0px; */
    background-color: var(--primary);
    color: white;
}

.admin-home .tab-pane {
    padding: 20px;
}

.admin-home tr {
    cursor: pointer;
}

.user-handle .dropdown-menu {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}

.user-handle .dropdown-menu td {
    border: 0px;
    display: flex;
    width: 100% !important;
    flex-direction: column;
    min-width: 100%;
    height: 400px;
    overflow: auto;
}

.detail-info .col {
    padding: 10px 25px;
}

.page-link {
    background-color: transparent;
    border: 1px solid lightgray;
    color: var(--primary);
}

.page-link:hover {
    background-color: transparent;
    border: 1px solid lightgray;
    color: var(--primary);
}

.page-link:focus {
    box-shadow: none;
}

.search-bar {
    width: 400px;
    margin-bottom: 10px;
}

.search-bar .form-control:focus {
    background-color: transparent !important;
}

.notify-container .modal.fade .modal-dialog {
    min-width: 60% !important;
}

.notify-container .modal-container {
    padding: 0 5%;
}

.notify-container .modal input {
    margin-bottom: 20px;
}

.admin-profile-setting {
    width: 100%;
}

.admin-profile-setting .input-group {
    margin-bottom: 20px;
}

.admin-profile-setting button {
    text-align: right;    
}

.update_table {
    overflow: auto;
    text-align: left;
    height: 600px;
}

.update_table td a{
    color: var(--primary) !important;
}

.update_table td a:hover {
    color: black !important;
}

.font-red {
    color: red;
}

.font-green {
    color: green;
}