.footer-container {
    padding: 130px 75px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 9999;
    background-color: white;
}

.footer-container img {
    margin: 0 0 12px;
    width: 120px;
}

.footer-copy-writer {
    text-align: left;
    letter-spacing: normal;
    font-size: 12px;
    font-family: "Barlow Semi Condensed", sans-serif;
    line-height: 1;
}

@media (max-width: 991px) {
    .footer-container {
        padding: 30px 10px 30px 10px;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .footer-container .footer-content {
        flex-direction: column;
        gap: 5px !important;
    }
}