@media (max-width: 1720px) {
    .service-tab-content {
        padding-inline: 100px !important;
    }

    .sidebar-left {
        width: 320px;
    }
}

@media (max-width: 1600px) {
    .service-tab-content {
        padding-inline: 75px !important;
    }

    .sidebar-toggle {
        display: inherit;
    }

    .sidebar-left {
        position: absolute;
        margin-top: 143px;
        z-index: 2;
        left: -360px;
        transition: left 0.4s ease;
    }

    .sidebar-detail-content {
        width: 80%;
    }
}

@media (max-width: 1445px) {
    .my-sidebar-left {
        min-width: 280px;
        padding: 30px 0px 60px 0px;
    }

    .navbar {
        padding-inline: 0px !important;
    }

    .ability-container,
    .booking-header-container {
        padding-inline: 40px;
    }

    .footer-container {
        padding-inline: 40px;
    }

    .service-tab-content {
        padding-inline: 30px !important;
    }

    .sidebar-detail-content {
        width: 90%;
    }

    .sample-pattens-row {
        padding-inline: 25px;
    }
}

@media (max-width: 1355px) {

    .navbar-nav .nav-link,
    .navbar-nav .nav-link button {
        font-size: 15px !important;
    }
}

@media (max-width: 1320px) {

    .navbar-nav .nav-link,
    .navbar-nav .nav-link button {
        /* font-size: 13px !important; */
        padding-inline: 10px;
    }
}

@media (max-width: 1200px) {
    .card-number {
        font-size: 130px;
        right: 38px;
        top: 10px;
    }

    .en-card-title {
        top: 30px;
        left: 35px;
    }

    h3 {
        font-size: 34px;
    }

    .font-logo {
        height: 34px;
        margin-bottom: 5px;
    }

    .reason-container {
        padding-inline: 100px;
    }

    .reason-container .reason-content {
        order: 2;
        width: 100%;
    }

    .ability-container,
    .booking-header-container,
    .info-container {
        padding-inline: 100px;
    }

    .card-content {
        padding: 270px 32px 25px;
    }

    .my-container {
        flex-direction: column !important;
    }

    .my-sidebar-left {
        margin: 0px 20px;
        padding: 20px 0px;
    }

    .my-tab-content .tab-pane {
        margin-top: 35px;
        max-width: 100%;
        padding: 0px 20px;
    }

    .my-sidebar-left .nav-item {
        line-height: 65px;
    }

    .auth-form-box {
        margin-top: 100px;
    }

    .auth-home .card {
        max-width: 100%;
    }

    .navbar-collapse {
        background-color: transparent !important;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .home-intro {
        text-align: left;
    }

    .home-reg-txt {
        margin-top: 20px;
    }

    .price-container {
        width: 100% !important;
        max-width: 100% !important;
        margin: 0px;
        margin-top: 100px;
    }

    .booking-header-container,
    .info-content {
        margin-inline: 0px;
        max-width: 100% !important;
    }

    .info-container {
        padding-inline: 40px;
    }

    .info-content {
        padding-inline: 0px;
    }

    .info-date-area {
        width: 180px;
    }

    .auth-container {
        height: auto;
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }

    .sample-pattens-row {
        /* margin-inline: 0px; */
        width: 100% !important;
        max-width: 100% !important;
        margin-inline: 0px;
        padding-inline: 0px;
    }

    .faq-lg-txt {
        padding-top: 28px;
    }
}

@media (max-width: 1024px) {
    .death-items-list {
        flex-direction: column;
    }

    .death-items-list .my-card-container {
        max-width: 100% !important;
    }

    .my-tab-content iframe {
        height: 200px;
    }

    .my-tab-content .my-card-container iframe {
        height: 350px;
    }

    .my-tab-content .tab-pane {
        padding: 0px 10px;
    }

    .my-edit-card-container {
        display: none;
    }

    .update-my-video {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }
}

@media (max-width: 992px) {
    .footer-container img {
        width: 200px;
    }

    .ability-container,
    .booking-header-container,
    .info-container {
        padding-inline: 40px;
    }

    .reason-container {
        padding: 0 40px 105px;
        text-align: left;
    }

    .price-container {
        margin-top: 80px;
    }

    .booking-header-container img {
        width: 273px;
        margin-top: 28px;
    }

    .booking-header-container button {
        margin-top: 43px;
        width: 192px;
        height: 44px;
        font-size: 13px;
    }

    .info-content .list-group-item {
        padding: 35px 20px;
    }

    .info-date-area {
        width: 130px;
    }

    .info-date {
        font-size: 35px;
    }

    .info-year {
        padding: 0 4px 0 0px;
    }

    .info--detail-title {
        font-size: 14px;
    }

    .info-detail-subTitle {
        font-size: 10px;
    }

    .info-title {
        font-size: 34px;
    }

    .service-tab-content .tab-pane {
        padding: 170px 0px 60px;
    }

    .service-tab-box {
        top: -50px;
    }

    .service-tab-title {
        font-size: 80px;
    }

    .sidebar-left {
        margin-top: 119px;
    }

    .info-list-container {
        padding-inline: 25px;
    }

    .trust-content {
        flex-direction: column;
    }

    .register-btn {
        width: 100%;
        margin-top: 55px;
    }

    .agreeTerms {
        margin-bottom: 20px !important;
    }
}

@media (max-width: 768px) {
    .footer-copy-writer { 
        text-align: center;
    }
    h3 {
        letter-spacing: 2px;
        font-weight: 900;
        margin-bottom: 0.4em;
    }

    h5 {
        font-size: 15px;
        font-weight: 500;
        line-height: 2em;
    }

    .ability-container,
    .booking-header-container,
    .info-container {
        padding-inline: 40px;
    }

    .ability-des {
        padding: 14px 0px 50px;
    }

    .card-number {
        font-weight: 600;
        font-size: 114px;
        position: absolute;
        right: 26px;
        top: 0px;
    }

    .card-content {
        padding: 160px 20px 25px 20px;
    }

    .en-card-title {
        top: 16px;
        left: 26px;
        padding: 11px 0 28px;
    }

    .card-bottom {
        margin: 40px 0 10px;
    }

    .born-list .list-group-item {
        padding: 40px;
    }

    .update-my-video .form {
        width: 85%;
    }

    .my-tab-content iframe {
        height: 350px;
    }

    .navbar-nav {
        margin-top: 20px;
    }

    .nav-item {
        margin: 7px;
    }

    .home-ability .way_learning_detail {
        padding: 0 0 40px;
    }

    .booking-header-container img {
        width: 215px;
        margin-top: 24px;
    }

    .booking-header-container button {
        margin-top: 32px;
        width: 150px;
        height: 33px;
        font-size: 11px;
    }

    .info-flex {
        flex-direction: column;
    }

    .info-content {
        padding-top: 110px;
        padding-bottom: 80px;
    }

    .info-content .list-group-item {
        padding: 16px 10px;
    }

    .info-container .arrow-btn {
        width: 39px;
        padding: 16px;
        margin-top: -10px !important;
    }

    .info-title-container {
        margin-top: -14px;
    }

    .info-title {
        font-size: 26px;
    }

    .info-date {
        font-size: 30px;
        margin-bottom: 11px;
    }

    .footer-logo-row {
        text-align: center;
        margin: 40px auto 0;
    }

    .footer-copy-writer {
        text-align: center;
    }

    .faq-contact a {
        width: 100%;
    }

    .about-container {
        padding: 100px 30px 70px;
        max-width: 100%;
        margin: 0px;
    }

    .auth-redirect-link>a>p {
        margin: 25px 10px !important;
    }

    
    .gotoTop {
        bottom: 35px;
        right: 20px;
    }
}

@media (max-width: 576px) {
    .footer-container img {
        width: 160px;
    }
    h3 {
        font-size: 7vw;
    }

    .ability-header-title {
        flex-direction: column;
        text-align: center;
    }

    .font-logo {
        height: 7vw !important;
    }

    .make-will {
        padding: 60px 20px;
    }

    .profile-setting {
        padding: 60px 20px;
    }

    .born-list .list-group-item {
        padding: 20px;
    }

    .born-list .list-group-item iframe {
        height: 260px;
    }

    .my-tab-content .tab-pane {
        padding: 0px;
    }

    .my-sidebar-left {
        margin: 0px;
    }

    .flex-logo {
        padding-inline: 0px;
    }

    .update-my-video {
        margin: 8px 0px 8px 0px !important;
    }

    .home-reg-txt {
        margin-top: 15px;
    }

    .font-logo {
        height: 35px;
    }

    .home-ability .way_learning_detail {
        font-size: 14px;
        padding: 0 0 30px;
    }

    .booking-header-container {
        margin-top: 60px !important;
        margin-bottom: 60px !important;
    }

    .booking-header-container img {
        width: 174px;
        margin-top: 20px;
    }

    .booking-header-container button {
        margin-top: 25px;
        width: 125px;
        height: 30px;
        font-size: 9px;
    }

    .info-content .list-group-item {
        padding: 34px 10px;
    }

    .info-content {
        padding-top: 90px;
        padding-bottom: 65px;
    }

    .info-date {
        font-weight: 600;
        font-size: 24px;
        margin: 0 0 17px;
    }

    .info-year {
        padding: 0 10px 0 0;
        font-size: 16px;
    }

    .info--detail-title {
        font-size: 14px;
        line-height: 1.8em;
    }

    .info-detail-subTitle {
        margin: 7px 0 0;
        font-size: 12px;
    }

    .info-container .arrow-btn {
        position: absolute;
        bottom: 16px;
        right: 6px;
    }

    .contact-container input,
    .contact-container textarea,
    .contact-container button {
        margin-top: 40px;
    }

    .contact-container button {
        width: 100%;
    }

    .gotoTop {
        padding: 7px 11px;
        font-size: 12px;
        bottom: 15px;
        right: 15px;
    }

    .info-list-container {
        width: 95%;
    }
}

@media (max-width: 480px) {

    .logo {
        width: 180px;
    }

    .nav-link-button {
        margin: 7px;
    }

    .nav-link-button .nav-link {
        padding: 0px;
    }

    .update-my-video .form {
        width: 90%;
    }

    .update-my-video .input-group-text {
        width: 100px;
    }

    .home-intro img {
        height: 29px;
    }

    .ability-container,
    .booking-header-container {
        margin-top: 0px;
    }

    .home-ability .way_learning_detail {
        font-size: 12px;
    }

    .service-description {
        padding: 100px 60px 0;
    }

    .service-des-detail {
        padding-right: 105px;
    }

    .service-tab-title {
        font-size: 60px;
    }

    .service-tab-link-title {
        font-size: 13px;
    }

    .service-tab-box {
        top: -39px;
    }

    .sidebar-left {
        margin-top: 102px;
    }

    .faq-lg-txt {
        padding-right: 40px;
        padding-top: 0px;
    }

    .faq-content-row {
        padding-right: 75px;
    }
}